body{
    height: 100vh;
}
header{
background-color: blue;
}
a{
    color: white;
}
div{
    background-color: blue;
}
div:hover{
    background-color: aqua;
}
header, div{
    justify-content: center;
}