body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #000;
  }
  
  .heart {
    width: 100px;
    height: 100px;
    position: relative;
    animation: heartbeat 1s infinite;
  }
  
  .heart::before,
  .heart::after {
    content: "";
    position: absolute;
    top: 50px;
    width: 52px;
    height: 80px;
    border-radius: 50px 50px 0 0;
    background: linear-gradient(45deg, rgba(255, 0, 0, 0.8), rgba(255, 0, 0, 0));
  }
  
  .heart::before {
    left: 50px;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
  }
  
  .heart::after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
  }
  h1{
    color: fuchsia;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  h2{
    color: rgb(255, 30, 0);
  }